.card-product {
  margin-top: 40px;
  overflow: hidden;
  height: 120px;
  background: #192331;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 80%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  text-align: left;
  border-radius: 0px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-square {
  margin: 10px 0;
  overflow: hidden;
  height: 270px;
  background: #192331;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card-square img {
  height: 170px;
  min-width: 300px;
  width: 100%;
  object-fit: cover;
  text-align: left;
  border-radius: 0px;
}

.card-square h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-square p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-square .card-square-infos {
  padding: 20px 0px;
}

.card-square .rating {
  margin-top: 0;
}

// ------------- RIGHT HAND SIDE OF PAGE -------------

.card-planet {
  overflow: hidden;
  height: 90px;
  // background: #192331;
  display: flex;
  align-items: center;
}

.card-planet img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  text-align: left;
  border-radius: 4px;

}

.card-planet h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-planet p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-planet .card-planet-infos {
  padding: 16px;
}

.pending i {
  color: orange;
  font-size: 9px;
}

.confirmed i {
  color: #51EE6B;
  font-size: 9px;
}

.btn-new-planet {
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  padding: 8px 8px;
  border-radius: 4px;
  background: #192331;
  transition: 0.3s ease;
  font-size:14px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  margin-right: 100px;
}

.btn-delete-planet {
  color: white;
  text-align: center;
  // display: block;
  // width: 50%;
  padding: 5px 20px;
  border-radius: 3px;
  background:#7F8487;
  transition: 0.3s ease;
  font-size:12px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.my-planets{
  overflow: hidden;
  img{
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0px;
  }
}
