// Import page-specific CSS files here.
@import "home";

.planet-cards.container {
  margin-top: 80px;
}

.planet-card-info {
  background-color: rgba(32,47,66,0.5);
  padding: 15px;
  border-radius: 0px 0px 4px 4px ;
}

.image:hover {
  opacity: 0.8;
}

.planet-card {
  margin-bottom: 40px ;
}

.planet-card:hover {
  color: white ;
}

.planet-card-object {
  color: rgba(250,250,250,0.7)
}

.price {
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: rgba(32,47,66,1);
  padding: 8px 16px;
  border-radius: 4px;
}

img {
  border-radius: 4px 4px 0px 0px;
}

span {
  display:block;
}

.checked {
  color: #ED8F0A ;
  font-size: 12px;
}


.rating {
  font-size: 14px;
}
