// Import page-specific CSS files here.
@import "home";

.planet-types {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(250,250,250,0.2);
  border-bottom: 1px solid rgba(250,250,250,0.2);
  position: sticky;
  top: 100px;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;
}

.planet-type {
  padding-top: 15px;
}

.planet-type:hover {
  opacity: 0.5;
  color: white;
}


.planet-cards.container {
  margin-top: 80px;
}

.planet-card-info {
  background-color: rgba(32,47,66,0.5);
  padding: 15px;
  border-radius: 0px 0px 4px 4px ;
}

.image:hover {
  opacity: 0.8;
}

.planet-card {
  margin-bottom: 40px ;
}

.planet-card:hover {
  color: white ;
}

.planet-card-object {
  color: rgba(250,250,250,0.7)
}

.price {
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: rgba(32,47,66,1);
  padding: 8px 16px;
  border-radius: 4px;
}

img {
  border-radius: 4px 4px 0px 0px;
}

// span {
//   display:block;
// }

.checked {
  color: #ED8F0A ;
  font-size: 12px;
  opacity: 1;
}


.rating {
  font-size: 14px;
}
