<div class="container">
  <h1>Your cosmos reservation</h1>
  <br>
  <%= simple_form_for [@planet, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Fly me to the moon", class: 'btn-book-new' %>
    <% end %>
</div>
