<div class= "planet-types">
  <div class="planet-type text-center">
    <h4><i class="fa-solid fa-star"></i></h4>
    <p>Star</p>
  </div>
  <div class="planet-type text-center">
    <h4><i class="fa-solid fa-earth-asia"></i></h4>
    <p>Planet</p>
  </div>
  <div class="planet-type text-center">
    <h4><i class="fa-solid fa-baby"></i></h4>
    <p>Dwarf Planet</p>
  </div>
  <div class="planet-type text-center">
    <h4><i class="fa-solid fa-meteor"></i></h4>
    <p>Asteroid</p>
  </div>
  <div class="planet-type text-center">
    <h4><i class="fa-solid fa-icicles"></i></h4>
    <p>Comet</p>
  </div>
  <div class="planet-type text-center">
    <h4><i class="fa-solid fa-moon"></i></h4>
    <p>Moon</p>
  </div>
</div>

<div id="4col">
  <div class="planet-cards container">
    <h1 class="mb-5 text-white">Planets around the galaxy</h1>
    <div class="row">

      <% @planets.first(9).each do |planet| %>
        <div class="col-12 col-sm-6 col-md-4 col-mb-3">
          <%= link_to planet_path(planet), class:"text-decoration-none" do %>
            <div class= "planet-card">
              <img src="../assets/mars" class="image w-100" alt="">
              <div class="planet-card-info">
                <div class="d-flex justify-content-between">
                  <h3><%= planet.name %></h3>
                  <p class="rating">4.5
                    <i class="fa fa-star checked"></i>
                  </p>
                </div>
                <div class="planet-card-object d-flex justify-content-between">
                  <%= planet.object.upcase %>
                  <div class="price"><strong><%= planet.price_per_day %> €</strong> / day
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
