<div class="index">
  <% @planets.each do |planet| %>
    <%= link_to planet.name, planet_path(planet) %>
  <% end %>

    <div id="4col">
    <div class="container">
      <h2 class="mb-3 text-white">Planets around the galaxy</h2>
      <div class="row">
        <div class="col-6 col-md-3">
          <div class= "planet-card">
            <img src="../assets/mars" class="w-100 mb-2" alt="">
            <div class="planet-card-info">
              <div class="color-text">ENTIRE PLANET · XXX</div>
              <div class="place-name">Mars</div>
              <div class="price">€300 per day</div>
              <div class="rating">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
