<div class = "container" >
  <h1 class = "mb-4">Add a New Planet to Your Profile</h1>
  <h3 class = "mb-4">You'll be able to host more space explorers and increase your revenue!!</h3>
</div>

  <%= render 'planets/form', planet: @planet %>
