.btn-yellow {
  color: white;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 4px;
  background: #ED8F0A;
  transition: 0.3s ease;
  margin-top: 40px;
  font-size:16px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.btn-yellow:hover {
  background: #ed8e0aa8;
  color: white;
}

#simple-link {
  text-decoration: underline;
  color: rgb(200, 200, 200);
  font-size: 14px;
  margin-bottom: 50px;
}
