.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand > p {
  color: white;
  opacity: 1;
  font-size: 38px;
  letter-spacing: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  margin-left: 20px;
}


.navbar-nav.me-auto > li {
  margin-right: 20px;
}
