
.navbar-lewagon {
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-bottom: 35px;
  z-index:10;

  // height: 100%;
  // z-index: -100;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  color: white;
  opacity: 1;
  font-size: 38px;
  letter-spacing: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 40px;
  background-image: url('https://res.cloudinary.com/dsc1uchot/image/upload/v1653558710/logo/logo_b9uzzl.png');
  background-size: 27px;
  background-repeat: no-repeat;
}


.navbar-nav.me-auto > li {
  margin-right: 20px;
  margin-top: 15px;
}

.btn-log-in {
  border: 1px solid white;
  border-radius: 2px;
  padding: 4px 12px;
}

.search {
  position: relative;
}

.search-bar {
  border: 1px solid white;
  padding: 4px 24px;
  border-radius: 50px;
  font-weight: lighter;
  margin-top: 25px;
}

.search > a {
  position: absolute;
  right: 15px;
  top: 30px;
}

.dropdown-menu {
  background: #0C1017;
  opacity: 0.8;
}

.dropdown-item {
  background-color: #354259;
  color: white;
}
