.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  color: white;
  opacity: 1;
  font-size: 38px;
  letter-spacing: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 40px;
  background-image: url('../assets/logo');
  background-size: 27px;
  background-repeat: no-repeat;
}


.navbar-nav.me-auto > li {
  margin-right: 20px;
  margin-top: 15px;
}

.btn-log-in {
  border: 1px solid white;
  border-radius: 2px;
  padding: 4px 12px;
}

.search {
  position: relative;
}

.search-bar {
  border: 1px solid white;
  padding: 4px 24px;
  border-radius: 50px;
  font-weight: lighter;
  margin-top: 25px;
}

.search > a {
  position: absolute;
  right: 15px;
  top: 30px;
}
